@charset "UTF-8";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    background: url('christ.jpg') center top;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

form {
    text-align: center;
    padding: 5px;
}


section {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    width: 650px;
    translate: -50% -50%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.459);  
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.479);
    
    
    

}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}

div.line {
    height: 4px;
    width: 610px;
    border-radius: 50px;
    background-color: black;
    margin: 0px 0px 5px 20px;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 50px;
}

p {
    text-align: center;
}

p.space1 {
    position: relative;
    margin: 10px;
}

p.space3 {
    padding: 10px;
    margin-bottom: 15px;
}


label.name {
    position: absolute;
    top: 10px;
    left: 15px;
    transition: 0.2s;
    
   
}

label.question {
    position: absolute;
    top: 10px;
    left: 15px;
    transition: 0.2s;
}


#inome:focus ~ .name {
    top: -23px;
    left: 5px;
    font-size: 15px;
    
}

#iperguntas:focus ~ .question {
    top: -23px;
    left: 5px;
    font-size: 15px;
    
}

input#inome {
    
    height: 20px;
    width: 600px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.514);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.116);
    margin-bottom: 30px;
}

textarea#iperguntas{
    height: 90px;
    width: 600px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.514);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.116);
}

input.Ssubmit {
    display: block;
    margin: auto;
    padding: 10px 290px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: white;
    background-color: black;

}

input.Ssubmit:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    background-color: rgb(70, 70, 70);
    
}

@media (max-width: 700px) {
    
    section {
    width: 320px;
    

}

form {
    text-align: center;
    padding: 0px 5px 5px 5px;
}

h1 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 8px;
}

div.line {
    height: 2px;
    width: 300px;
    background-color: black;
    margin: 5px 0px 5px 10px;
}

h2 {
    font-size: 13px;
}

p.space1 {
    margin: 0px 0px 0px 0px;
}

p.space2 {
    margin: 0px 0px 10px 0px;
}

label.name {
    position: absolute;
    top: 10px;
    left: 25px;
   
}

label.question {
    position: absolute;
    top: 10px;
    left: 25px;

}

input#inome {
    width: 260px;
    margin-bottom: 40px;
}

textarea#iperguntas{
    width: 260px;
    margin-bottom: 15px;
}

#inome:focus ~ .name {
    top: -23px;
    left: 13px;
    font-size: 15px;
}

#iperguntas:focus ~ .question {
    top: -23px;
    left: 13px;
    font-size: 15px;
}


input.Ssubmit {
    padding: 10px 118px;

}


    
}
